@charset "UTF-8";

/* 1700px 이하일 때 */
@media all and (max-width:1700px) {
    .h_main,
    .h_sub {
        padding:0 20px;
    }

    .h_main .gnb .gnb_list > li {
        padding-top: 49px;
        padding-right: 50px;
    }

    .h_main .gnb .gnb_list > li > a {
        font-size: 16px;
        height: 66px; /* padding-bottom: 48px; */
    }

    .main_sec .outer {
        width: 95%;
    }
}

/* 1400px 이하일 때 5개 */
@media all and (max-width:1400px) {
    .sec04 .csbox {
        width: 95%;
    }

    .csbottom .cs_tit {
        font-family: 'Jua';
        font-size: 30px;
        height: 40px;
        line-height: 1;
        margin-bottom: 27px;
        width: 73%;
    }

    .csbottom .faq li {
        height: 65px;
        border-radius: 32.5px;
        box-shadow: 0 3px 5px rgba(128, 128, 128, .3) inset;
        /* 그림자 수정 아직 안함 */
    }
    
    .csbottom .faq li > a {
        height: 65px;
        line-height: 65px;
    }

    .csbottom .faq li > a::before {
        width: 35px;
        height: 35px;

    }
}

/* 1280px 이하일 때 : Mobile */
@media all and (max-width:1280px) {
    .sec01 .visual {
        text-align: center;
    }
    .sec01 .visual img {
        width: 95%;
    }

    .sec01 .search {
        height: 54px;
        border-radius: 27px;
    }

    .sec01 .search .inner {
        height: 60px;
        border-radius: 30px;
    }

    .sec01 .search .inner input {
        font-size: 14px;
    }

    .sec01 .search .inner button {
        width: 19.3333%; height: 45px;
        border-radius: 22.5px;
        font-size: 12px;
    }
}

/* 1200px 이하일 때 6개 */
@media all and (max-width:1200px) {
    .csbottom .faq li {
        width: 100%;
    }

    .csbottom .faq li:nth-child(5) {
        margin-bottom: 10px;
    }

}

/* 1024px 이하일 때 : Mobile */
@media all and (max-width:1024px) {
    .h_main .logo {
        width: 117px;
    }
    
    .h_main .logo a {
        height: 27px;
        background: url(../img/logo_mo.png) no-repeat;
        background-size: cover;
    }

    .h_main .gnb {
        display: none;
    }

    .h_sub {
        display: none;
    }

    .sec01 .visual {
        max-width: 1432px;
    }

    .sec01 .search {
        padding: 0 90px;
    }

    .sec01 .search .hash_txt li {
        width: auto;
    }

    .sec01 .search .hash_txt li a {
        width: 5rem;
        height: 30px; line-height: 28px;
        font-size: 10px;
    }

    .main_sec .sec_tit {
        font-size: 23px;
        margin-bottom: 24px;
    }

    .csbox .cstop .cs_cont {
        height: 260px;
        padding: 32px 30px 0;
    }

    .csbox .cstop .cs_cont .cs_tit {
        font-size: 28px;
    }

}

/* 768px 이하일 때 3*2 */
@media all and (max-width:768px) {

    .sec01 .search {
        padding: 0 25px;
    }

    .sec01 .search .inner {
        height: 45px;
        border-radius: 20px;
        padding: 0 6px 0 38px;
        background: url(../img/search_icon.png) 20px center no-repeat;
        background-size: 13px;
    }

    .sec01 .search .inner input {
        font-size: 12px;
    }

    .sec01 .search .inner button {
        border: none;
        background-color: #e82d28;
        width: 30%; height: 55%;
        border-radius: 27px;
        color: #fff;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .3) inset;
        font-size: 10px;
    }

    .sec02, .sec03 {
        border-bottom: 8px solid #f1f1f1;
        padding-bottom: 80px;
    }

    .csbox .cstop {
        flex-wrap: wrap;
    }

    .csbox .cstop .cs_cont {
        width: 100%;
        height: 125px;
        padding: 30px 24px 0;
    }

    .csbox .cstop .email {
        margin-bottom: 10px;
    }

    .csbox .cstop .cs_cont .cs_tit {
        font-size: 18px;
        height: 36px;
    }

    .csbottom .cs_tit {
        font-size: 18px;
        line-height: 1;

    }
    
    .csbottom .faq li {
        height: 47px;
    }

    .csbottom .faq li > a::before {
        background: #e0462e url(../img/m_link_arrow01.png) center center no-repeat;
        transform: translateY(-50%) scale(1);
        top: calc(50% + 3px);
        background-size: 12px 12px;
    }


    .csbottom .faq li a {
        height: 47px;
        line-height: 47px;
    }


    .csbottom .faq li:nth-child(n+4) {
        display: none;
    }

    .csbottom .faq li:nth-child(3) {
        margin-bottom: 0;
    }

    .csbottom .more {
        width: 25%;
    }

}
